# --- Python Build & Distribution ---
build/
dist/
node_modules/
*.egg-info/
*.egg

# --- Byte-compiled / optimized / DLL files ---
__pycache__/
*.py[cod]
*$py.class

# --- Databases & Logs ---
*.db
*.sqlite3
*.log

# --- Virtual Environments ---
venv/
.venv/
env/

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store